* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  display: flex;
  gap: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-active {
  font-weight: bold;
  color: rgb(47, 24, 108);
}
